body, html {
	background-image: url(../images/intersection.png);
    font-family: 'Poppins', sans-serif;
    overflow: auto;
    height: 100%;
}
.navbar-default .navbar-brand {
    color: white;
	font-size: 24px;
	background: #2a7988;
	color: #ffffff;
    font-family: 'Poppins', sans-serif;
	font-weight: bold;
}
ul.nav.navbar-nav.navbar-right {
    position: relative;
    right: 110px;
}
.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
    position: relative;
    left: 100px;
}
.navbar-default .navbar-nav>li>a {
    color: #2a7988;
    font-weight: bold;
    font-size: 16px;
}
.container {
	margin: 0px 100px 0px 100px;
}
.col-md-8 {
	background-color: #ffffff;
	border: solid 2px #cccccc;
}
.My-Header {
	border-bottom: solid 2px #cccccc;
}
h2, h3 {
	color: #2a7988;
    font-family: 'Poppins', sans-serif;
	font-weight: bold;
}
.My-Info {
    margin: 10px 0px;
}
.col-md-6, .col-md-4 {
	text-align: center;
	line-height: 20px;
}
img {
    vertical-align: baseline;
    margin: 5px;
}
.panel-default {
    text-align: center;
    border: solid 2px #cccccc;
 }
 .btn-default {
	margin-top: 10px;
	color: #ffffff;
	background-color: #2a7988;
 }
 .btn {
 	margin-bottom: 10px;
 }
.panel-default>.panel-heading {
	background-color: #ffffff;
}
.panel-footer {
	
	background-color: #666666;
	color: #ffffff;
	border-top: solid 5px #2a7988;
    position: relative;
}
img {
    margin: 22px 5px;
}
.Psychic-Game, .Hangman, .RPG-Game, .Trivia-Game, .Giphy-Api, .Rock-Paper-Scissors {
	position: relative;
	margin: 10px;
	display: inline;
}

.Banner1, .Banner2, .Banner3, .Banner4, .Banner5 {
	position: absolute;
    background: #2a7988;
    color: #ffffff;
    text-align: center;
    width: 200px;
    height: 35px;
    padding-top: 10px;
    bottom: 25px;
    left: 5px;
}

.Side-Panel {
	background-color: white;
	margin-top: 10px;
	border: solid 2px #cccccc;
}
.Panel-Title {
	padding: 1px;
	border-bottom: solid 2px #cccccc;
}

footer {
	width: 100%;
	height: 50px;
	padding: 10px;
	background-color: #666666;
	text-align: center;
	color: white;
	font-size: 16px;
	border-top: solid 5px #2a7988;
	position: absolute;
    top: 92%;
    margin-top: 5px;
}